USE [master]
GO
/****** Object:  Database [Panes]    Script Date: 26/12/2024 07:10:56 p. m. ******/
CREATE DATABASE [Panes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Panes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Panes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Panes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Panes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Panes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Panes]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 26/12/2024 07:10:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id_venta] [int] IDENTITY(1,1) NOT NULL,
	[productos] [nvarchar](255) NOT NULL,
	[membresia_cliente] [nvarchar](255) NOT NULL,
	[nombre_encargado] [nvarchar](255) NOT NULL,
	[total] [decimal](18, 0) NOT NULL,
	[metodo_pago] [nvarchar](255) NOT NULL,
	[fecha_hora] [datetime] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
USE [master]
GO
